.related-title{
    position: relative;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
}
.related-pannel .item{
    box-sizing: border-box;
    width: 25%;
    background: #fff;
    text-align: center;
    line-height: 40px;
}