<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta content="email=no" name="format-detection">
	<meta name="x5-cache" content="disable">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<title>洁森小当家 - 到家优质生活服务 专业、便捷、安心!</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="copyright" content="">
	<meta name="applicable-device" content="mobile">
	<script src="__ROOT__/Public/home/js/index/push.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="//static.daojia.com/assets/project/pc/resource/favicon.ico">
	<link rel="stylesheet" href="__ROOT__/Public/home/css/assets/layout-frame.css">
	<link rel="stylesheet" href="__ROOT__/Public/home/css/assets/layout-common.css">
	<link rel="stylesheet" href="__ROOT__/Public/home/css/assets/home-nav.css">
	<script src="__ROOT__/Public/home/common/global/jquery.min.js"></script>
	<!-- 页面内联css -->
	<link href="__ROOT__/Public/home/css/index/index.css" rel="stylesheet" type="text/css" media="all">
	<!-- 公共样式 -->
	<link href="__ROOT__/Public/home/css/global/global.css" rel="stylesheet" type="text/css">
	<!-- 模块样式 -->
	<link href="__ROOT__/Public/home/css/index/banner.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Public/home/css/category-info/category.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Public/home/css/category-info/related-category.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/Public/home/css/category-info/news.css" rel="stylesheet" type="text/css">

</head>

<body data-pagetype="home">
	<!--头部-->
	<include file="./Public/home/widget/head.html"/>
	<!-- 主体内容 -->
	<div class="main-con" data-cid="37" data-cname="重庆" data-sl="cq" data-channel="mobile" data-hmsr="" data-pf="skinformobile.css"
        data-d="m.daojia.com" data-wx="" data-id="" data-p="" data-lat="" data-lng="">
        <!--banner图片-->
		<include file="./Public/home/widget/index/banner.html"/>
		<!-- 分类 -->
        <include file="./Public/home/widget/category-info/category.html"/>
        <!-- 相关二级分类 -->
        <include file="./Public/home/widget/category-info/related-category.html"/>
        <!-- 新闻列表 -->
		<include file="./Public/home/widget/category-info/news.html"/>
	</div>
	<!-- 底部 -->
	<include file="./Public/home/widget/footer.html"/>
</body>
<script src="__ROOT__/Public/home/common/global/tab.js"></script>
</html>